<!DOCTYPE html>
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
</script>
<![endif]-->
<html>
<head>
	<title><%=  link_to full_title(yield(:title)), root_path %></title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all',
	'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
</script>
<![endif]-->
</head>
<body>
	<header class="navbar navbar-fixed-top navbar-inverse">

		<div class="container">
			<%= link_to "sample app", '#', id: "logo" %>
			<nav>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "Home",   root_path %></li>
					<li><%= link_to "Help",   help_path %></li>
					<li><%= link_to "About",   about_path %></li>
					li><%= link_to "Contact",   contact_path %></li>
					<li><%= link_to "Log in", login_path %></li>
				</ul>
			</nav>
		</div>
	</header>

	<br>
	<br><br>
	<div class="container">
		<% flash.each do |message_type, message| %>
		<%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
		<% end %>
	</div>

	<div class="container">
		<%= yield %>
	</div>

</body>

<%= debug(params) if Rails.env.development? %>
</html>
